body {
  background: linear-gradient(30deg, rgb(77, 73, 72), rgb(58, 55, 54));
}
header {
  position: static;
}
main ul {
  width: 1200px;
  margin: 0 auto 40px auto;
  padding: 5px;
  display: grid;
  gap: 100px 100px;
  grid-template-columns: 1fr 1fr;
}
main li img {
  width: 300px;
  height: 300px;
  padding: 30px;
}
main li {
  display: flex;
  background-color: azure;
  box-shadow: 1px 2px 4px rgba(67, 149, 196, 0.6);
  border-radius: 6px;
  overflow: hidden;
  width: 500px;
}
li:nth-of-type(3) {
  background-color: rgb(219, 213, 224);
  grid-column: 1 / -2;
}
header nav {
  color: aqua;
}
